// Custom variables
@import './variables';
@import '~bootstrap/scss/bootstrap';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  text-decoration: none;
}
